*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.container{
  width: 100%;
  margin: 0 auto;
}
body{
  font-family: 'Montserrat', sans-serif;
}
header{
  height: 900px;
  background: url(../img/Rectangle.jpg) no-repeat;
  background-size: cover;
  color: white;



}
nav{
  border-bottom: 1px solid #A1A1A1;
}
.menu{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.menu>li{
  margin-right: 40px;list-style-type: none;

}
.menu>li>a{
  color: white;
  text-decoration: none;
}
.title-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 259px;
}
.bigtitle{
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.btn{
width: 200px;
height: 45px;
border: none;
color: white;
/* Accent */

background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;
}
.standart{
  height: 590px;
  background: #F6F6F8;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

}
.standart-txt-box{
  margin-right: 20%;
  margin-top: 52px;

}
.title-section{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
}
.standart-link{
color: #4985FF;
}
.gallery{
  display: grid;
  grid-template-columns:  34% 34% 34%;
   grid-template-rows: 50% 50%;
}
.img-gallery>img{
  width: 100%;
  height: 100%;
}
.animation>ul>li{
  list-style: none;
  width: 50px;
  height: 50px;
  background: red;
  animation: shake 0.7s linear alternate infinite;
  margin-bottom: 20px;

}
.animation>ul{
  display: flex;
  justify-content: space-around;
}
@keyframes shake{
  100%{
    transform: translateX(-30px);
  }
}
